<div class="container" data-bs-theme="dark">
  <br>
  <form>
    <div class="card border-primary border-3">
      <div class="card-header text-white border-primary border-3">
        <h4>Cadastrar Vacina</h4>
      </div>
      <div class="card-body bg-dark text-white">

        <div class="row">

          <div class="form-group col-md-6">
            <label for="nome"><strong>Nome da Vacina</strong></label>
            <input type="text" class="form-control border-primary border-1" name="nome" [(ngModel)]="vacina.nome">
          </div>

          <div class="form-group col-md-6">
            <label for="paisOrigem"><strong>Nome do País de Origem</strong></label>
            <select class="form-select border-primary border-1" name="paisOrigem" [ngModelOptions]="{standalone: true}" aria-label="Selecione um país"
            [compareWith]="compareById" [(ngModel)]="vacina.paisOrigem">
            <option *ngFor="let paisOrigem of pais" [ngValue]="pais">
            {{vacina.nome}}
            </option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <label for="pesquisadorResponsavel"><strong>Nome do Pesquisador Responsável</strong></label>
            <select class="form-select border-primary border-1" name="pesquisadorResponsavel" [ngModelOptions]="{standalone: true}" aria-label="Selecione um pesquisador"
            [compareWith]="compareById" [(ngModel)]="vacina.pesquisadorResponsavel">
            <option *ngFor="let pesquisador of pesquisadores" [ngValue]="pesquisadores">
            {{vacina.nome}}
            </option>
            </select>
          </div>

            <div class="form-group col-md-3">
              <label for="dataInicioPesquisa"><strong>Data de Início</strong></label>
              <input type="date" class="form-control border-primary border-1" name="dataInicioPesquisa" [(ngModel)]="vacina.dataInicioPesquisa"
                required>
            </div>

            <div class="form-group col-md-3">
              <label for="estagio"><strong>Estágio:</strong></label>
              &nbsp;<strong style="color: greenyellow">{{vacina.estagio}}</strong>
              <input type="range" class="form-select border-primary border-1" style="height: 37px;" name="estagio" min="1" max="3" [(ngModel)]="vacina.estagio"
                required>
            </div>

          <div class="row">

            <div class="form-group col-md-2"  style="align-items: left;">
              <label>&nbsp;</label>
              <button type="submit" class="form-select btn btn-primary" (click)="cadastrar()"><i class="bi bi-check">
                </i><strong>Cadastrar</strong></button>
            </div>

            <div class="form-group col-md-1">
              <label>&nbsp;</label>
              <button type="submit" class="form-select btn btn-warning" (click)="voltar()"><strong>Voltar</strong></button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>

