<nav class="navbar navbar-dark bg-dark rounded" alt="60">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Controle de Vacinas</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">Vacinas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/vacina/vacina-detalhe">Cadastro</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="">Listagem</a></li>
         </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
