<body style="background-image: linear-gradient(to right, #6aaeed, #0f387f)">
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" alt="60" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-size: 30px;">Stremax Veículos</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
          href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false"></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/vacina/detalhe">Cadastro</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/veiculo">Listagem</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
<router-outlet><router-outlet /> </router-outlet>
